@use '../variables' as *;

.programs {
  padding: 2rem 0;

  @include media-breakpoint-up(sm) {
    padding: 1rem 6rem 5rem 6rem;
  }

  &--header-links {
    position: relative;
    font-family: $font-family-secondary;
    font-weight: $font-weight-h2;
    font-size: 1.2rem;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
      text-align: start;
    }

    a {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-blue;
      padding: 0.5rem;

      @include media-breakpoint-up(md) {
        padding: 0 3rem 0 0;
      }
    }
  }
  &--link-effect,
  &--link-effect-2 {
    &::before {
      position: absolute;
      content: '';
      width: 66%;
      height: 4px;
      background-color: currentColor;
      bottom: 0;
      left: 0;
      transform: scaleX(0);

      transition: transform 250ms ease-in;
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &-2 {
      &::before {
        width: 80%;
      }
    }
  }

  .left {
    position: relative;
    display: block;
    margin: auto;
    padding: 0;

    @include media-breakpoint-up(sm) {
      display: flex;
    }

    &--dogs {
      display: block;
      margin: auto;
      max-width: 12rem;
      padding: 0;

      @include media-breakpoint-up(sm) {
        display: flex;
        margin-left: -1.5rem;
      }

      @include media-breakpoint-down(lg){
        margin:auto;        
      }
    }

    &--text {
      padding-left: 0;
      margin-left: -2rem;

      @include media-breakpoint-down(lg) {
        margin: 0;
      }
    }
  }

  h2 {
    font-family: $font-family-primary;
    font-weight: $font-weight-h2;
    font-size: 0.95rem;
    color: $color-red;
    text-transform: uppercase;
    padding-top: 1rem;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: start;
    }
  }

  p {
    font-family: $font-family-primary;
    font-weight: $font-weight-h1;
    font-size: 0.95rem;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: start;
    }
  }

  button {
    position: relative;
    font-family: $font-family-primary;
    font-weight: $font-weight-h2;
    text-transform: uppercase;
    background-color: transparent;
    color: $color-red;
    border: 2px solid $color-red;
    border-radius: 0;
    overflow: hidden;

    &:hover {
      background-color: transparent;
      border-color: $color-red;
    }

    &::before {
      width: 100%;
      height: 100%;
      content: '';
      margin: auto;
      position: absolute;
      top: -100%;
      left: -100%;
      background: $color-red;
      transition: all 0.5s;
      transform: scale(0);
      z-index: -1;
    }

    &:hover::before {
      transform: scaleX(1);
      top: 0;
      left: 0;
    }

    @include media-breakpoint-down(lg) {
      display: block;
      margin: auto;
    }    
  }

  img {
    margin: auto;

    @include media-breakpoint-up(sm) {
      display: flex;
      margin-right: -2.5rem;
    }

     @include media-breakpoint-down(lg){
        margin:auto;
      }
  }
}
